################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.cache
*.user
*.suo
ProArch.FieldOrbit/ProArch.FieldOrbit.WebAPI/obj/
