################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.cache
*.user
/.vs/ProArch.FieldOrbit/v15/.suo
/ProArch.FieldOrbit.DataLayer/bin
/ProArch.FieldOrbit.DataLayer/obj
/ProArch.FieldOrbit.DataContracts/bin
/ProArch.FieldOrbit.DataContracts/obj
/ProArch.FieldOrbit.BusinessLayer/bin
/ProArch.FieldOrbit.BusinessLayer/obj
/ProArch.FieldOrbit.Conracts/bin
/ProArch.FieldOrbit.Conracts/obj
/ProArch.FieldOrbit.Mappers/bin
/ProArch.FieldOrbit.Mappers/obj
/ProArch.FieldOrbit.Models/bin
/ProArch.FieldOrbit.Models/obj
/ProArch.FieldOrbit.WebAPI/bin
/ProArch.FieldOrbit.WebAPI/obj
/ProArch.FieldOrbit.WebUI/bin
/ProArch.FieldOrbit.WebUI/obj




