<form class="example-form" (load)="onLoad()">
    <md-card>
        <md-card-title>Work Request</md-card-title>
        <div>
            <md-input-container>
                <input #serviceRequestId mdInput [(ngModel)]="ServiceRequest.ServiceRequestId" name="ServiceRequestId" placeholder="ServiceRequestId">
            </md-input-container>
            <!--<md-input-container>
                <input #workOrderId mdInput [(ngModel)]="WorkRequestId" name="WorkRequestId" placeholder="WorkRequestId">
            </md-input-container>-->
        </div>
        <div cellspacing="0">

            <md-select placeholder="Service Type" [(ngModel)]="ServiceRequestType" name="ServiceRequestType">
                <md-option *ngFor="let servicerequestype of sTypes" [value]="servicerequestype.viewValue">
                    {{servicerequestype.viewValue}}
                </md-option>
            </md-select>
            <md-select placeholder="Work Request Status" [(ngModel)]="status" name="status">
                <md-option *ngFor="let workstatus of workStatus" [value]="workstatus.viewValue">
                    {{workstatus.viewValue}}
                </md-option>
            </md-select>
        </div>
        <div>
            <md-input-container>
                <input type="date" #startDate mdInput [(ngModel)]="StartDate" name="StartDate" placeholder="StartDate">
            </md-input-container>

            <md-input-container>
                <input type="date" #endDate mdInput [(ngModel)]="EndDate" name="EndDate" placeholder="EndDate">
            </md-input-container>
        </div>
        <div>
            <md-input-container>
                <textarea #description mdInput [(ngModel)]="Description" name="Description" placeholder="Description"></textarea>
            </md-input-container>
        </div>

        <div style="text-align:right;">
            <button class="mat-button mat-primary" (click)="onUpdate()" md-primary-button md-raised-button>Update</button>
        </div>
    </md-card>
</form>