<form class="scrollable-form" name="workrequestform" (load)="onLoad()">
    <md-card>
        <md-card-title><b>Work Request</b></md-card-title>
        <br>
        <div *ngIf="workRequest.SrNumber && workRequest.SrNumber!=0" class="padder">
            <md-form-field>
                <input #srNumber mdInput [(ngModel)]="workRequest.SrNumber" name="SrNumber" [disabled]="true" placeholder="SR Number">
            </md-form-field>
        </div>

        <div class="padder">
            <md-select name="ServiceType" required placeholder="Service Type" [(ngModel)]="workRequest.ServiceType">
                <md-option *ngFor="let type of serviceType" [value]="type.value">
                    {{ type.viewValue }}
                </md-option>
            </md-select>
            <md-select name="Status" required placeholder="Status" [(ngModel)]="workRequest.Status">
                <md-option *ngFor="let Status of statusList" [value]="Status.value">
                    {{ Status.viewValue }}
                </md-option>
            </md-select>
            <md-select placeholder="Request Type" required name="Request Type" [(ngModel)]="workRequest.RequestType">
                <md-option *ngFor="let RType of requestType" [value]="RType.value">
                    {{ RType.viewValue }}
                </md-option>
            </md-select>
        </div>

        <div class="padder">
            <md-form-field >                
                <input #requestedBy mdInput [(ngModel)]="workRequest.RequestedBy" autofocus name="RequestedBy" placeholder="Requested By">
            </md-form-field>

            <md-form-field >
                <input #customerId mdInput [(ngModel)]="workRequest.Customer.CustomerId" required name="CustomerId" placeholder="Customer ID">
            </md-form-field>
            
            <md-form-field >
                <input #location mdInput [(ngModel)]="workRequest.Location" name="Location" placeholder="Location">
            </md-form-field>
        </div>

        <div class="padder">
            <md-form-field >
                
                <input [mdDatepicker]="createdDate" mdInput required [(ngModel)]="workRequest.CreatedDate" name="CreatedDate" placeholder="Created Date">
                <md-datepicker-toggle mdSuffix [for]="createdDate"></md-datepicker-toggle>
                <md-datepicker #createdDate></md-datepicker>
            </md-form-field>
            
            <md-form-field >
                
                <input mdInput [mdDatepicker]="startDate" [(ngModel)]="workRequest.StartDate" (blur)="validateDate()" name="StartDate" placeholder="Start Date">
                <md-datepicker-toggle mdSuffix [for]="startDate"></md-datepicker-toggle>
                <md-datepicker #startDate></md-datepicker>
            </md-form-field>
            
            <md-form-field>
                
                <input mdInput [mdDatepicker]="endDate" [(ngModel)]="workRequest.EndDate" (blur)="validateDate()" name="EndDate" placeholder="End Date">
                <md-datepicker-toggle mdSuffix [for]="endDate"></md-datepicker-toggle>
                <md-datepicker #endDate></md-datepicker>
            </md-form-field>
            
        </div>

        <p style="text-align: right">
            <span style="color:red" *ngIf="ErrorMessage">{{ErrorMessage}}</span>
            <button class="mat-button mat-primary" (click)="onUpdate()" md-primary-button md-raised-button>{{Button}}</button>
        </p>
    </md-card>
    <md-card>
        <table class="table" style="width:100%;cursor:pointer;">
            <tr>
                <th>Customer Id</th>
                <th>Service Type</th>
                <th>Status</th>
                <th>Created Date</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
            <tr *ngFor="let sr of workRequestList" (click)="onSelectedRow(sr)">
                <td>{{sr.Customer.CustomerId }} </td>
                <td>{{sr.ServiceType}} </td>
                <td>{{sr.Status}} </td>
                <td>{{sr.CreatedDate}} </td>
                <td>{{sr.StartDate}} </td>
                <td>{{sr.EndDate}} </td>
            </tr>
        </table>
    </md-card>
</form>