<form class="scrollable-form" name="workRequestForm" novalidate (ngSubmit)="onUpdate(Button)" [formGroup]="workRequestForm">
    <md-card>
        <md-card-title><b>Work Request</b></md-card-title>
        <br>
        <div *ngIf="workRequest.SrNumber && workRequest.SrNumber!=0" class="padder">
            <md-form-field>
                <input mdInput [(ngModel)]="workRequest.SrNumber" name="SrNumber" [disabled]="true" placeholder="SR Number" [ngModelOptions]="{standalone: true}">
            </md-form-field>
        </div>

        <div class="padder">
            <md-select name="ServiceType" placeholder="Service Type" [(ngModel)]="workRequest.ServiceType" formControlName="serviceType">
                <md-option *ngFor="let type of serviceType" [value]="type.value">
                    {{ type.viewValue }}
                </md-option>
            </md-select>
            <md-select name="Status"  placeholder="Status" [(ngModel)]="workRequest.Status" formControlName="status">
                <md-option *ngFor="let Status of statusList" [value]="Status.value">
                    {{ Status.viewValue }}
                </md-option>
            </md-select>
            <md-select placeholder="Request Type" name="Request Type" [(ngModel)]="workRequest.RequestType" formControlName="requestType">
                <md-option *ngFor="let RType of requestType" [value]="RType.value">
                    {{ RType.viewValue }}
                </md-option>
            </md-select>
        </div>

        <div class="padder">
            <md-form-field >                
                <input mdInput [(ngModel)]="workRequest.RequestedBy" autofocus name="RequestedBy" placeholder="Requested By" formControlName="requestedBy">
                <md-error *ngIf="workRequestForm.hasError('pattern', 'requestedBy')">
                    Please enter a valid requester detail
                </md-error>
                <md-error *ngIf="workRequestForm.hasError('maxLength','requestedBy')">
                    Max length exceeded
                </md-error>
                <md-error *ngIf="workRequestForm.hasError('required','requestedBy')">
                    RequestedBy is <strong>required</strong>
                </md-error>
            </md-form-field>

            <md-form-field >
                <input mdInput [(ngModel)]="workRequest.Customer.CustomerId" name="CustomerId" placeholder="Customer ID" formControlName="customerId">
                <md-error *ngIf="workRequestForm.hasError('pattern', 'customerId')">
                    Please enter a valid Customer Id
                </md-error>
                <md-error *ngIf="workRequestForm.hasError('maxLength','customerId')">
                    Max length exceeded
                </md-error>
                <md-error *ngIf="workRequestForm.hasError('required','customerId')">
                    RequestedBy is <strong>required</strong>
                </md-error>
            </md-form-field>
            
            <md-form-field >
                <input mdInput [(ngModel)]="workRequest.Location" name="Location" placeholder="Location" [ngModelOptions]="{standalone: true}">
            </md-form-field>
        </div>

        <div class="padder">
            <md-form-field >
                
                <input [mdDatepicker]="createdDate" mdInput [(ngModel)]="workRequest.CreatedDate" name="CreatedDate" placeholder="Created Date" formControlName="createdDate">
                <md-datepicker-toggle mdSuffix [for]="createdDate"></md-datepicker-toggle>
                <md-datepicker #createdDate></md-datepicker>
                <md-error *ngIf="workRequestForm.hasError('required','createdDate')">
                    RequestedBy is <strong>required</strong>
                </md-error>
            </md-form-field>
            
            <md-form-field >
                
                <input mdInput [mdDatepicker]="startDate" [(ngModel)]="workRequest.StartDate" (blur)="validateDate()" name="StartDate" placeholder="Start Date" [ngModelOptions]="{standalone: true}">
                <md-datepicker-toggle mdSuffix [for]="startDate"></md-datepicker-toggle>
                <md-datepicker #startDate></md-datepicker>
            </md-form-field>
            
            <md-form-field>
                
                <input mdInput [mdDatepicker]="endDate" [(ngModel)]="workRequest.EndDate" (blur)="validateDate()" name="EndDate" placeholder="End Date" [ngModelOptions]="{standalone: true}">
                <md-datepicker-toggle mdSuffix [for]="endDate"></md-datepicker-toggle>
                <md-datepicker #endDate></md-datepicker>
            </md-form-field>
            
        </div>

        <p style="text-align: right">
            <span style="color:red" *ngIf="ErrorMessage">{{ErrorMessage}}</span>
            <button class="mat-button mat-primary" type="reset" md-primary-button md-raised-button (click)="resetDetails()">Reset</button>
            <button class="mat-button mat-primary" type="submit" md-primary-button md-raised-button>{{Button}}</button>
        </p>
    </md-card>
    <md-card>
        <table class="table" style="width:100%;cursor:pointer;">
            <tr>
                <th>Customer Id</th>
                <th>Service Type</th>
                <th>Status</th>
                <th>Created Date</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
            <tr *ngIf="failedToLoad;else workRequestTable">
                <td colspan="6" style="text-align:center;"><h3>Failed to load work request details</h3></td>
            </tr>
            <tr *ngFor="let sr of workRequestList" (click)="onSelectedRow(sr)" #workRequestTable>
                <td>{{sr.Customer.CustomerId }} </td>
                <td>{{sr.ServiceType}} </td>
                <td>{{sr.Status}} </td>
                <td>{{sr.CreatedDate}} </td>
                <td>{{sr.StartDate}} </td>
                <td>{{sr.EndDate}} </td>
            </tr>
        </table>
    </md-card>
</form>