<form class="scrollable-form" name="serviceRequestform" (ngSubmit)="onUpdate()" novalidate [formGroup]="serviceRequestForm">
    <md-card>
            <md-card-title><b>Service Request</b></md-card-title>
            <br>
        <div *ngIf="serviceRequest.SrNumber && serviceRequest.SrNumber!=0">
            <md-form-field>
                <input mdInput [(ngModel)]="serviceRequest.SrNumber" name="SrNumber" [disabled]="true" placeholder="SR Number" [ngModelOptions]="{standalone: true}">
            </md-form-field>
        </div>
        <div class="padder">

            <md-form-field>
                <input mdInput
                       autofocus
                       formControlName="requestedBy" 
                       name="RequestedBy"
                       [(ngModel)]="serviceRequest.RequestedBy"
                       placeholder="Requested By">
                <md-error *ngIf="serviceRequestForm.hasError('pattern', 'requestedBy')">
                        Please enter a valid requester detail
                </md-error>
                <md-error *ngIf="serviceRequestForm.hasError('maxlength','requestedBy')">
                        Max length exceeded
                </md-error>
                <md-error *ngIf="serviceRequestForm.hasError('minlength','requestedBy')">
                    Min length of requester is {{serviceRequestForm}}
                </md-error>
                <md-error *ngIf="serviceRequestForm.hasError('required','requestedBy')">
                        RequestedBy is <strong>required</strong>
                </md-error>
            </md-form-field>

            <md-form-field>
                <input  mdInput 
                        name="CustomerId"
                        formControlName="customerId"
                        placeholder="Customer ID"
                        [(ngModel)]="serviceRequest.Customer.CustomerId">
                <md-error *ngIf="serviceRequestForm.hasError('pattern', 'customerId')">
                        Please enter a valid Customer Id
                </md-error>
                <md-error *ngIf="serviceRequestForm.hasError('maxlength', 'customerId')">
                            Max length exceeded
                </md-error>
                <md-error *ngIf="serviceRequestForm.hasError('required', 'customerId')">
                            Customer Id is <strong>required</strong>
                </md-error>
            </md-form-field>

            <md-form-field>
                <input mdInput [(ngModel)]="serviceRequest.Location" name="Location" [ngModelOptions]="{standalone: true}" placeholder="Location"> 
            </md-form-field>
        </div>

        <div class="padder">

            <md-select name="ServiceType" formControlName="serviceType" placeholder="Service Type" [(ngModel)]="serviceRequest.ServiceType">
                <md-option *ngFor="let type of serviceType" [value]="type.value">
                    {{ type.viewValue }}
                </md-option>
                <md-error *ngIf="serviceRequestForm.hasError('required', 'serviceType')">
                    Service Type is <strong>required</strong>
                </md-error>
            </md-select>

            <md-select name="Status" formControlName="status" placeholder="Status" [(ngModel)]="serviceRequest.Status">
                <md-option *ngFor="let Status of statusList" [value]="Status.value">
                    {{ Status.viewValue }}
                </md-option>
            </md-select>

            <md-select placeholder="Request Type" formControlName="requestType" name="RequestType" [(ngModel)]="serviceRequest.RequestType">
                <md-option *ngFor="let RType of requestType" [value]="RType.value">
                    {{ RType.viewValue }}
                </md-option>
            </md-select>
        </div>  

        <div class="padder">

            <md-form-field>
                <input [mdDatepicker]="createdDate" formControlName="createdDate" mdInput [(ngModel)]="serviceRequest.CreatedDate"  name="CreatedDate" placeholder="Created Date">
                <md-datepicker-toggle mdSuffix [for]="createdDate" [disabled]="true"></md-datepicker-toggle>
                <md-datepicker #createdDate></md-datepicker>
            </md-form-field>
            
            <md-form-field>
                <input mdInput [mdDatepicker]="startDate" formControlName="startDate" [(ngModel)]="serviceRequest.StartDate" (ngModelChange)="clearDateDetails()" [min]="minDate" (blur)="validateDate()" name="StartDate" placeholder="Start Date">
                <md-datepicker-toggle mdSuffix [for]="startDate"></md-datepicker-toggle>
                <md-datepicker #startDate></md-datepicker>
            </md-form-field>
            
            <md-form-field>
                <input mdInput [mdDatepicker]="endDate" formControlName="endDate" (blur)="validateDate()" [min]="serviceRequest.StartDate" [(ngModel)]="serviceRequest.EndDate" name="EndDate" placeholder="End Date">
                <md-datepicker-toggle mdSuffix [for]="endDate"></md-datepicker-toggle>
                <md-datepicker #endDate></md-datepicker>
            </md-form-field>

        </div>
        <p style="text-align: right">
            <span style="color:red" *ngIf="ErrorMessage">{{ErrorMessage}}</span>
            <button class="mat-button mat-primary" type="reset" md-primary-button md-raised-button (click)="resetDetails()">Reset</button>
            <button class="mat-button mat-primary" type="submit" md-primary-button md-raised-button>{{Button}}</button>
        </p>
    </md-card>

    <md-card>
        <table class="table" style="width:100%;cursor:pointer;">
            <tr>
                <th>Customer Id</th>
                <th>Service Type</th>
                <th>Status</th>
                <th>Created Date</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
            <tr *ngIf="failedToLoad;else serviceRequestTable">
                <td colspan="5" style="text-align:center;"><h3>Failed to load available service requests</h3></td>
            </tr>
            <tr *ngFor="let sr of serviceRequestList" (click)="onSelectedRow(sr)" #serviceRequestTable>
                <td>{{sr.Customer.CustomerId }} </td>
                <td>{{sr.ServiceType}} </td>
                <td>{{sr.Status}} </td>
                <td>{{sr.CreatedDate}} </td>
                <td>{{sr.StartDate}} </td>
                <td>{{sr.EndDate}} </td>
            </tr>
        </table>
    </md-card>
</form>