<form class="example-form designform" name="servicerequestform" (load)="onLoad()">
    <md-card>
        <md-card-title>Service Request</md-card-title>
        <div class="example-full-width" cellspacing="0">
            <md-input-container *ngIf="SrNumber && SrNumber!=0" class="example-full-width inputMargin">
                <label>SR Number</label>
                <input #srNumber mdInput [(ngModel)]="SrNumber" name="SrNumber" [disabled]="true">
            </md-input-container>
            <md-input-container class="example-full-width inputMargin">
                <label>Requested By</label>
                <input #requestedBy mdInput [(ngModel)]="RequestedBy" autofocus name="RequestedBy">
            </md-input-container>
        </div>
        <div class="example-full-width" cellspacing="0">
            <md-select class="inputMargin" name="ServiceType" required placeholder="Service Type" [(ngModel)]="ServiceType">
                <label>Service Type</label>
                <md-option *ngFor="let type of serviceType" [value]="type.value">
                    {{ type.viewValue }}
                </md-option>
            </md-select>
            <md-select class="inputMargin" name="Status" required placeholder="Status" [(ngModel)]="Status">
                <md-option *ngFor="let Status of statusList" [value]="Status.value">
                    {{ Status.viewValue }}
                </md-option>
            </md-select>
        </div>
        <br>
        <div class="example-full-width" cellspacing="0">
            <md-select class="inputMargin" placeholder="Request Type" required name="RequestType" [(ngModel)]="RequestType">
                <md-option *ngFor="let RType of requestType" [value]="RType.value">
                    {{ RType.viewValue }}
                </md-option>
            </md-select>
            <md-input-container class="example-full-width inputMargin">
                <label>Customer ID</label>
                <input #customerId mdInput [(ngModel)]="Customer.CustomerId" required name="CustomerId">
            </md-input-container>
            <md-input-container class="example-full-width inputMargin">
                <label>Location</label>
                <input #location mdInput [(ngModel)]="Location" name="Location">
            </md-input-container>
        </div>
        <div class="example-full-width" cellspacing="0">

            <md-input-container class="inputMargin">
                <label>Created Date</label>
                <input [mdDatepicker]="createdDate" required mdInput [(ngModel)]="CreatedDate" name="CreatedDate">
                <button mdSuffix [mdDatepickerToggle]="createdDate"></button>
            </md-input-container>
            <md-datepicker #createdDate></md-datepicker>
            <md-input-container class="inputMargin">
                <label>Start Date</label>
                <input mdInput [mdDatepicker]="startDate" [(ngModel)]="StartDate" value="" (blur)="validateDate()" name="StartDate">
                <button mdSuffix [mdDatepickerToggle]="startDate"></button>
            </md-input-container>
            <md-datepicker #startDate></md-datepicker>
            <md-input-container>
                <label>End Date</label>
                <input mdInput [mdDatepicker]="endDate" (blur)="validateDate()" [(ngModel)]="EndDate" name="EndDate">
                <button mdSuffix [mdDatepickerToggle]="endDate"></button>
            </md-input-container>
            <md-datepicker #endDate></md-datepicker>
        </div>
        <div class="example-full-width" cellspacing="0">

        </div>
        <p style="text-align: right">
            <span style="color:red" *ngIf="ErrorMessage">{{ErrorMessage}}</span>
            <button class="mat-button mat-primary" (click)="onUpdate()" md-primary-button md-raised-button>{{Button}}</button>
        </p>
    </md-card>
    <md-card>
        <table class="table" style="width:100%;cursor:pointer;">
            <tr>
                <th>Customer Id</th>
                <th>Service Type</th>
                <th>Status</th>
                <th>Created Date</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
            <tr *ngFor="let sr of serviceRequestList" (click)="onSelectedRow(sr)">
                <td>{{sr.Customer.CustomerId }} </td>
                <td>{{sr.ServiceType}} </td>
                <td>{{sr.Status}} </td>
                <td>{{sr.CreatedDate}} </td>
                <td>{{sr.StartDate}} </td>
                <td>{{sr.EndDate}} </td>
            </tr>
        </table>
    </md-card>
</form>