
<form class="example-form" (load)="onLoad()">
    <md-card>
        <md-card-title>Service Request</md-card-title>
        <div class="example-full-width" cellspacing="0">
            <md-input-container class="example-full-width">
                <label>SR Number</label>
                <input #srNumber mdInput [(ngModel)]="SrNumber" name="SrNumber" [disabled]="true">
            </md-input-container>
            <md-input-container class="example-full-width">
                <label>Requested By</label>
                <input #requestedBy mdInput [(ngModel)]="RequestedBy" autofocus name="RequestedBy">
            </md-input-container>
        </div>
        <div class="example-full-width" cellspacing="0">
            <md-select name="ServiceType" placeholder="Service Type" [(ngModel)]="ServiceType">
                <md-option *ngFor="let type of serviceType" [value]="type.value">
                    {{ type.viewValue }}
                </md-option>
            </md-select>
        </div>
        <br>
        <div class="example-full-width" cellspacing="0">
            <md-select placeholder="Request Type" name="RequestType" [(ngModel)]="RequestType">
                <md-option *ngFor="let RType of requestType" [value]="RType.value">
                    {{ RType.viewValue }}
                </md-option>
            </md-select>
            <md-input-container class="example-full-width">
                <label>Customer ID</label>
                <input #customerId mdInput [(ngModel)]="Customer.CustomerId" name="CustomerId">
            </md-input-container>
            <md-input-container class="example-full-width">
                <label>Location</label>
                <input #location mdInput [(ngModel)]="Location" name="Location">
            </md-input-container>
        </div>
        <div class="example-full-width" cellspacing="0">
            <md-input-container class="example-full-width">
                    <label>Created Date</label>
                <input type="date" #createdDate mdInput [(ngModel)]="CreatedDate" name="CreatedDate">
            </md-input-container>
            <md-input-container class="example-full-width">
                    <label>Start Date</label>
                <input type="date" #startDate mdInput [(ngModel)]="StartDate" value="" name="StartDate">
            </md-input-container>
            <md-input-container class="example-full-width">
                    <label>End Date</label>
                <input type="date" #endDate mdInput [(ngModel)]="EndDate" name="EndDate">
            </md-input-container>
        </div>
        <div class="example-full-width" cellspacing="0">
            <md-select name="Status" placeholder="Status" [(ngModel)]="Status">
                <md-option *ngFor="let Status of statusList" [value]="Status.value">
                    {{ Status.viewValue }}
                </md-option>
            </md-select>
        </div>
        <p style="text-align: right">
            <button class="mat-button mat-primary" (click)="onUpdate()" md-primary-button md-raised-button>Update</button>
        </p>
    </md-card>
    <md-card>
        <table class="table" style="width:100%;cursor:pointer;">
            <tr>
                <th>Customer Id</th>
                <th>Service Type</th>
                <th>Status</th>
                <th>Created Date</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
            <tr *ngFor="let sr of serviceRequestList" (click)="onSelectedRow(sr)">
                <td>{{sr.Customer.CustomerId }} </td>
                <td>{{sr.ServiceType}} </td>
                <td>{{sr.Status}} </td>
                <td>{{sr.CreatedDate | date: 'dd-MMM-yyyy'}} </td>
                <td>{{sr.StartDate| date: 'dd-MMM-yyyy'}} </td>
                <td>{{sr.EndDate| date: 'dd-MMM-yyyy'}} </td>
            </tr>
        </table>
    </md-card>
</form>
