<form class="designform">
    <md-input-container class="inputMargin">
        <label>User Name</label>
        <input #uname mdInput [(ngModel)]="login.username" name="UserName" focus>
    </md-input-container>
    <md-input-container class="inputMargin">
        <label>Password</label>
        <input #psw mdInput type="password" [(ngModel)]="login.password" name="Password">
    </md-input-container>
    <div class="inputMargin">
        <span style="color:red;" *ngIf="errorMessage">Invalid Username or Password</span>
        <button class="mat-button mat-primary" md-raised-button (click)="OnSubmit()">Login</button>
    </div>
</form>