<!DOCTYPE html>
<html>
<head>
    <title>Field Orbit</title>
    <base href="/fieldorbit/" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="Content/Site.css" rel="stylesheet" type="text/css">
    <link href="Content/indigo-pink.css" rel="stylesheet" type="text/css">
    <link href="Content/deeppurple-amber.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
</head>
<body class="background" style="overflow:hidden;">
    <msg-app>Please Wait...</msg-app>

    
    <script src="dist/js/polyfills.js"></script>
    
    <script src="dist/js/vendor.js"></script>
    
    <script src="dist/js/app.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.2.5/web-animations.min.js"></script>
    <!-- <script>
        window.onunload = function () {
           if (performance.navigation.type == 1) {
                console.info( "This page is reloaded" );
                localStorage.clear();   
            } else {
                console.info( "This page is not reloaded");
            }
        }
    </script> -->
</body>
</html> 