html *{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
  }

md-input-container {
    display: inline-block;
    position: relative;
    padding: 2px;
    margin: 18px 0;
    vertical-align: middle;
    /*
   * The .md-input class is added to the input/textarea
   */
}

md-card {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin: 8px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.background {
    color: rgba(0,0,0,0.87);
    background-color: #eeeeee !important;
}

.designform md-input-container input {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border-width: 1px;
    min-height: 30px;
    padding: 0 10px 0 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.designform md-input-container label:not(.md-container-ignore) {
    position: initial;
    font-size: 13px;
    color: rgba(0,0,0,.38);
}

.designform md-select-value {
    border: 1px solid rgba(0, 0, 0, 0.12) !important;
    background: white !important;
    padding: 5px 8px !important;
    border-radius: 5px;
}

.designform md-select {
    border: 1px solid black;
    border-radius: 5px;
    min-height: 30px;
    padding: 0 5px;
}

.tab-background {
    background-color: #a2b7dc !important;
}

.inputMargin{
    margin: 15px 15px 15px 15px;
}

.table {
    max-width: 100%;
    border-collapse: collapse;
}

.table, pre {
    margin-bottom: 1rem;
}

table {
    background-color: transparent;
    border-collapse: collapse;
    font-family: Roboto,sans-serif;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #eceeef;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #eceeef;
}

th {
    text-align: left;
    font-weight: bold;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #eceeef;
}

.table th {
    font-size: 16px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #eceeef;
}

tr:hover, tr.alt:hover {
    background-color: #d9edf7 !important;
    font-size: 15px;
}

.mat-input-container {
    min-width: 20%;
}

.mat-select {
    min-width: 20%;
}

.mat-input-element:disabled {
    background-color: lightgray;
}

.textAreaBorder{
    border: 1px solid black !important;
    border-radius: 5px !important;
}
.mat-calendar-content {
    background: white;
}